*,*::before, *::after{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "GD Sherpa Regular";
    background-color: #f0f0f0;
}
body.translating{
    position: relative;
}
body.translating::before{
    content: "Please wait while we are translating...";
    position: fixed;
    background: rgba(255,255, 255, 0.8);
    display: flex;
    inset: 0 0 0 0;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}
header{
    background: #0066a1;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1rem 2rem;
    
}
.site-title{
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
}
main{
    max-width: 1200px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #fff;
}
.canvas-container {
    margin-top:4rem;
}

.canvas-header {
    position: absolute;
    top: -3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    border: 1px solid #dfdfdf;
    padding: 0.75rem;
    gap: 10px;
}
.action-items {
display: flex;
justify-content: space-between;
align-items: center;
}

.action-items-left {
display: grid;
gap: 4px;
}

.action-items {
padding: 24px;
border: 1px solid #dfdfdf;
margin: 12px 0;
}

#langugeSelector {
margin-left: auto;
}

.keyboard-shortcuts {
    margin-left: 50px;
    display: flex;
    gap: 24px;
}
kbd {
    border: 1px solid #999;
    padding: 4px;
    border-radius: 4px;
    background: beige;
}